body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 6vw;
    }
}

#overlay {
    position: fixed;
    width: 80%;
    height: 50%;
    top: 25%;
    left: 10%;
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
}

#start {
    color: white;
    background-color: black;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

