body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 6vw;
    }
}

#overlay {
    background-color: rgba(50, 50, 50, 0.8); /* dark grey, semi-transparent */
    color: white;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#start {
    color: white;
    background-color: black;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

