body {
    background-color: #e2d7ca; /* Cream background */
    color: #bd2a1f; /* Dark red text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif; /* Updated font */
    font-weight: 300; /* Lato Light 300 */
    font-size: 2vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 6vw;
    }
    #text {
        padding: 0 20px; /* Add padding to the text for mobile devices */
    }
    .desktop {
        display: none; /* Hide desktop header on mobile */
    }
    .mobile {
        display: block; /* Show mobile header on mobile */
        white-space: normal; /* Ensure the text wraps as specified */
    }
}

#overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    min-height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e2d7ca; /* Solid cream background */
    border: 1px solid #bd2a1f; /* Dark red border */
    border-radius: 0; /* Sharp corners */
    padding: 20px;
    color: #bd2a1f; /* Dark red text */
    font-family: 'Lato', sans-serif; /* Updated font */
    font-weight: 300; /* Lato Light 300 */
    font-size: .75em;
    text-align: center;
    box-sizing: border-box;
}

#overlay h1 {
    font-family: 'Crimson Pro', serif; /* Serif font for the header */
    font-weight: 200; /* ExtraLight 200 weight */
    margin-top: 10px; /* Reduced margin */
}

#overlay img {
    max-width: 100%;
    height: auto;
    margin-top: 10px; /* Reduced margin */
    margin-bottom: 10px; /* Reduced margin */
}

#start {
    background-color: #bd2a1f; 
    color: #e2d7ca; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 0; /* Sharp corners */
    text-decoration: none;
    display: inline-block;
    margin-top: 30px; /* Margin-top set to 10px */
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#start:hover {
    background-color: #a5261a; /* Slightly darker dark red */
    color: #e2d7ca;
}

#column-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px; /* Adjust the '30px' to increase or decrease the gap */
    margin-bottom: 10px; /* Space between the columns and the button */
}

.column {
    flex: 1 1 calc(25% - 30px); /* Four columns with gap */
    min-width: 200px; /* Adjust as needed */
    font-size: .75em;
    text-align: center; /* Change this if you want centered or right-aligned text */
}

@media only screen and (max-width: 600px) {
    #column-container {
        flex-direction: column;
        gap: 10px; /* Adjust the '10px' to increase or decrease the gap */
    }
    .column {
        width: 100%;
        margin-bottom: 3px; /* Adjust the '3px' to increase or decrease the space */
    }
    .desktop {
        display: none; /* Hide desktop header on mobile */
    }
    .mobile {
        display: block; /* Show mobile header on mobile */
        white-space: normal; /* Ensure the text wraps as specified */
    }
}

/* Ensure desktop version is visible and mobile version is hidden by default */
.desktop {
    display: block;
}
.mobile {
    display: none;
}
