body {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
}

#randomText {
    color: white;
    font-family: 'Times New Roman', serif;
    text-align: center;
    max-width: 90%;
    word-wrap: break-word;
    font-size: 42px;
}

@media (max-width: 1100px) {
    #quote {
        font-size: 90px;
    }
}
