body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 6vw;
    }
}

#overlay {
    position: fixed;
    width: 80%;
    height: 60%;
    top: 20%;
    left: 10%;
    background-color: black;
    color: white;
    padding: 20px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .75em;
    text-align: center;
}

#start {
    background-color: #ffffff; 
    color: #000000; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start:hover {
    background-color: #ddd;
    color: black;
