body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 6vw;
    }
}

#overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    color: white;
    font-family: Georgia, serif;
    font-size: 1.3em;
    text-align: center;
    box-sizing: border-box;

#overlay img {
    max-width: 100%;  /* Adjust as needed */
    height: auto;  /* Adjust as needed */
    margin-bottom: -10px auto 15px auto;  /* Adjust as needed */
}

#start {
    background-color: #ffffff; 
    color: #000000; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start:hover {
    background-color: #ddd;
    color: black;
