body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Noto Sans, sans-serif;
    font-size: 2vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 6vw;
    }
}

#overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Changed this */
    align-items: center; /* Added this */
    width: 80%;
    min-height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    color: white;
    font-family: Noto Sans, sans-serif;
    font-size: .75em;
    text-align: center;
    box-sizing: border-box;

}

#overlay img {
    max-width: 100%;  /* Adjust as needed */
    height: auto;  /* Adjust as needed */
    margin-top: 20px
    margin-bottom: 20px auto 20px auto;  /* Adjust as needed */
}

#start {
    background-color: #ffffff; 
    color: #000000; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-bottom: 20px; /* Adjust the '20px' to increase or decrease the space */

}

#start:hover {
    background-color: #ddd;
    color: black;
}

#column-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 25px; /* Space between the columns and the button */
}

.column {
    font-size: .75em;
    text-align: center; /* Change this if you want centered or right-aligned text */
}

@media only screen and (max-width: 600px) {
    #column-container {
        flex-direction: column;
    }

    .column {
        width: 100%;
        gap: 0px
        margin-bottom: 3px;
    }
}

