body {
    background-color: #e2d7ca; /* Cream background */
    color: #bd2a1f; /* Dark red text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Noto Sans, sans-serif;
    font-size: 2vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 6vw;
    }
}

#overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    min-height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(226, 215, 202, 0.9); /* Cream background with transparency */
    border: 1px solid #bd2a1f; /* Dark red border */
    border-radius: 0; /* Sharp corners */
    padding: 20px;
    color: #bd2a1f; /* Dark red text */
    font-family: Noto Sans, sans-serif;
    font-size: .75em;
    text-align: center;
    box-sizing: border-box;
}

#overlay img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#start {
    background-color: #bd2a1f; 
    color: #e2d7ca; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 0; /* Sharp corners */
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#start:hover {
    background-color: #a5261a; /* Slightly darker dark red */
    color: #e2d7ca;
}

#column-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px; /* Adjust the '30px' to increase or decrease the gap */
    margin-bottom: 25px; /* Space between the columns and the button */
}

.column {
    font-size: .75em;
    text-align: center; /* Change this if you want centered or right-aligned text */
}

@media only screen and (max-width: 600px) {
    #column-container {
        flex-direction: column;
        gap: 10px; /* Adjust the '10px' to increase or decrease the gap */
    }

    .column {
        width: 100%;
        margin-bottom: 3px; /* Adjust the '3px' to increase or decrease the space */
    }
}
